<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>013</string>
		<key>name</key>
		<string>Loading HTML</string>
		<key>desc</key>
		<string>加载html文件</string>
		<key>controller</key>
		<string>DocViewController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>013</string>
		<key>name</key>
		<string>OpenGL</string>
		<key>desc</key>
		<string>OpenGL练习</string>
		<key>controller</key>
		<string>OpenGLController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>000</string>
		<key>name</key>
		<string>Test</string>
		<key>desc</key>
		<string>测试入口</string>
		<key>controller</key>
		<string>JQTestViewController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>001</string>
		<key>name</key>
		<string>JQToast</string>
		<key>desc</key>
		<string>类似Android的Toast</string>
		<key>controller</key>
		<string>JQToastController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>002</string>
		<key>name</key>
		<string>JQTimePicker</string>
		<key>desc</key>
		<string>时间选择器</string>
		<key>controller</key>
		<string>JQTimePickerController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>003</string>
		<key>name</key>
		<string>JQImagePicker</string>
		<key>desc</key>
		<string>图片选择器</string>
		<key>controller</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>004</string>
		<key>name</key>
		<string>JQLocationPicker</string>
		<key>desc</key>
		<string>地点选择器</string>
		<key>controller</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>005</string>
		<key>name</key>
		<string>JQCell</string>
		<key>desc</key>
		<string>tableView单元格</string>
		<key>controller</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>006</string>
		<key>name</key>
		<string>SlideBack</string>
		<key>desc</key>
		<string>全局滑动返回</string>
		<key>controller</key>
		<string>SlideBackMainController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>007</string>
		<key>name</key>
		<string>OpenAppURL</string>
		<key>desc</key>
		<string>跳转到其它app</string>
		<key>controller</key>
		<string>OpenAppURLMainController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>008</string>
		<key>name</key>
		<string>Canvas</string>
		<key>desc</key>
		<string>画布、画板、涂鸦</string>
		<key>controller</key>
		<string>DrawingBoardMainController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>009</string>
		<key>name</key>
		<string>SaveImageAlbum</string>
		<key>desc</key>
		<string>保存图片、视频到相册</string>
		<key>controller</key>
		<string>SaveToAlbumMainController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>010</string>
		<key>name</key>
		<string>RoundButton</string>
		<key>desc</key>
		<string>各种类型的圆角按钮</string>
		<key>controller</key>
		<string>RoundButtonMainController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>011</string>
		<key>name</key>
		<string>MeowButton</string>
		<key>desc</key>
		<string>倾斜圆角矩形</string>
		<key>controller</key>
		<string>MeowButtonViewController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>012</string>
		<key>name</key>
		<string>Contact</string>
		<key>desc</key>
		<string>获取系统通讯录</string>
		<key>controller</key>
		<string>ContactViewController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>013</string>
		<key>name</key>
		<string>Gradient</string>
		<key>desc</key>
		<string>渐变</string>
		<key>controller</key>
		<string>GradientTriangleController</string>
	</dict>
	<dict>
		<key>code</key>
		<string>013</string>
		<key>name</key>
		<string>GalleryImagePicker</string>
		<key>desc</key>
		<string>画廊样式图片选择器</string>
		<key>controller</key>
		<string>GalleryImagePickerController</string>
	</dict>
</array>
</plist>
